.search-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  padding-top: 10px;
}

.search-full-width {
  width: 100%;
}

.search-filter-left {
  min-width: 100px;
  max-width: 300px;
  width: 100%;
  padding-right: 5px;
}

.search-filter-right {
  min-width: 100px;
  max-width: 300px;
  width: 100%;
}

mat-form-field.mat-form-field {
    font-size: 16px;
    text-align: center;
    color: white;
}

mat-option.mat-option {
    text-align: center;
}