<div class="container">
  <div class="d-flex justify-content-center">
    <form class="search-form" >
      <mat-form-field class="search-full-width" appearance="fill">
        <input type="text" placeholder="Search for running tracks in your area" matInput [formControl]="areaSearch" [matAutocomplete]="auto" (keydown.enter)="redirect()">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let area of filteredAreas | async" [value]="area">
            {{area}}
          </mat-option>
        </mat-autocomplete>
        <i matSuffix class="fas fa-search"></i>
      </mat-form-field>
    </form>
  </div>
</div>